<footer id="16">
	<div class="footer">
		<div class="container_footer">
			<div class="footer_bloks">
				<div class="footer_bloks_title">
					<div class="footer_bloks_title_img"> <img src="assets/images/logo-auto.svg" alt="Логотип">
						<a class="footer_bloks_title_img_a" href="index.html"></a>
					</div> <span>г. Воронеж</span> <span>ул. Улица</span> <a class="footer_a" href="tel:+70000000000">+7 (000) 000-00-00</a>
					<div class="menu__ap__iconc"> <a class="iconc" href="https://vk.com/"><i class="fab fa-vk"></i></a> <a class="iconc" href="https://ok.ru/"><i class="fab fa-odnoklassniki"></i></a> <a class="iconc" href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a> <a class="iconc" href="https://twitter.com/"><i class="fab fa-twitter"></i></a> <a class="iconc" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a> <a class="iconc" href="https://telegram.org/"><i class="fab fa-telegram"></i></a> <a class="iconc" href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a> </div>
				</div>
				<div class="footer_bloks_title">
					<ul class="ul__nav">
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#1/1">Ремонт кондиционера</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#1/2">Замена масла</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#1/3">Ремонт тормозной системы</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#2">Ремонт сцепления</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#3">Ремонт коробки передач</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#4">Ремонт двигателя</a> </li>
					</ul>
				</div>
				<div class="footer_bloks_title">
					<ul class="ul__nav">
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#5">Ремонт топливной системы</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#6">Замена ремня ГРМ</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#6">Ремонт подвески автомобиля</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#6">Ремонт рулевого управления</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#7">Ремонт  выхлопной системы</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#8">Ремонт электросистемы автомобиля</a> </li>
					</ul>
				</div>
				<div class="footer_bloks_title">
					<ul class="ul__nav">
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#11">Реферальная программа</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#12">Гарнтия цены</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#13">Мнение эксперта</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#14">Осмотр подержаных авто</a> </li>
						<li class="li__menu__down__nav"> <a class="footer_a" href="index.html#15">Клиенты о нас</a> </li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer_copiraite"> <span class="span_copiraite">©</span>
			<div class="copiraite_data" id="data"></div> <span class="span_copiraite"> "Автосервис в Воронеже"</span> </div>
	</div>
</footer>
