<div class="container__figure">
	<div class="container__figure__img"></div>
	<div class="slick">
		<picture>
			<source srcset="assets/images/car_logo_PNG1636-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1636-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1636-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1636-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1636-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1636-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1636-200.webp" > <img class="figure__img" src="assets/images/car_logo_PNG1636-200.jpg" alt="Ремонт иномарок"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1637-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1637-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1637-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1637-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1637-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1637-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1637-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1637-200.ipg" alt="Замена тормозных колодок"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1640-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1640-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1640-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1640-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1640-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1640-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1640-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1640-200.jpg" alt="Замена тормозной жидкости"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1641-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1641-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1641-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1641-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1641-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1641-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1641-200.webp" > <img class="figure__img" src="assets/images/car_logo_PNG1641-200.jpg" alt="Замена антифриза"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1642-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1642-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1642-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1642-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1642-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1642-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1642-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1642-200.jpg" alt="Замена салонного фильтра"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1643-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1643-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1643-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1643-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1643-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1643-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1643-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1643-200.jpg" alt="Замена топливного фильтра"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1644-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1644-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1644-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1644-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1644-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1644-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1644-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1644-200.jpg" alt="Ремонт подвески"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1645-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1645-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1645-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1645-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1645-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1645-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1645-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1645-200.jpg" alt="Ремонт иномарок"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1646-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1646-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1646-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1646-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1646-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1646-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1646-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1646-200.jpg" alt="Ремонт отечественных авто"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1647-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1647-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1647-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1647-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1647-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1647-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1647-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1647-200.jpg" alt="Замена ШРУСов"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1650-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1650-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1650-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1650-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1650-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1650-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1650-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1650-200.jpg" alt="Замена глушителя"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1649-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1649-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1649-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1649-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1649-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1649-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1649-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1649-200.jpg" alt="ТО автомобиля"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1651-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1651-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1651-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1651-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1651-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1651-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1651-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1651-200.jpg" alt="Замена ремня ГРМ"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1652-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1652-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1652-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1652-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1652-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1652-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1652-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1652-200.jpg" alt="Ремонт электрики"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1653-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1653-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1653-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1653-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1653-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1653-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1653-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1653-200.jpg" alt="Реонт топливной системы"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1654-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1654-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1654-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1654-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1654-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1654-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1654-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1654-200.jpg" alt="Ремонт Киа"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1655-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1655-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1655-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1655-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1655-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1655-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1655-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1655-200.jpg" alt="Ремонт коробки"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1656-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1656-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1656-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1656-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1656-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1656-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1656-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1656-200.jpg" alt="Ремонт приводов"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1657-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1657-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1657-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1657-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1657-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1657-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1657-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1657-200.jpg" alt="Установка амортизаторов"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1658-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1658-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1658-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1658-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1658-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1658-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1658-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1658-200.jpg" alt="СТО на Левом берегу"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1659-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1659-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1659-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1659-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1659-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1659-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1659-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1659-200.jpg" alt="Автосервис в Воронеже"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1660-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1660-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1660-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1660-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1660-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1660-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1660-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1660-200.jpg" alt="Автосервис Левый берег"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1661-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1661-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1661-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1661-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1661-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1661-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1661-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1661-200.jpg" alt="
			СТО в Воронеже"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1662-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1662-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1662-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1662-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1662-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1662-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1662-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1662-200.jpg" alt="СТО Левый берег"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1663-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1663-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1663-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1663-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1663-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1663-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1663-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1663-200.jpg" alt="Ремонт генератора"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1664-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1664-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1664-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1664-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1664-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1664-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1664-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1664-200.jpg" alt="Ремонт стартера"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1665-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1665-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1665-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1665-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1665-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1665-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1665-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1665-200.jpg" alt="Ремонт Халдекс"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1666-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1666-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1666-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1666-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1666-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1666-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1666-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1666-200.jpg" alt="Ремонт печки авто"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1667-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1667-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1667-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1667-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1667-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1667-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1667-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1667-200.jpg" alt="Ремонт моторчика печки"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1668-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1668-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1668-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1668-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1668-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1668-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1668-200.webp" type="image/webp"> <img class="figure__img" src="assets/images/car_logo_PNG1668-200.jpg" alt="Авторемонт в Воронеже"> </picture>
		<picture>
			<source srcset="assets/images/car_logo_PNG1669-48.webp" media="(max-width: 480px)" type="image/webp">
			<source srcset="assets/images/car_logo_PNG1669-48.jpg" media="(max-width: 480px)">
			<source srcset="assets/images/car_logo_PNG1669-768.webp" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1669-768.jpg" media="(max-width: 768px)">
			<source srcset="assets/images/car_logo_PNG1669-120.webp" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1669-120.jpg" media="(max-width: 1200px)">
			<source srcset="assets/images/car_logo_PNG1669-200.webp"> <img class="figure__img" src="assets/images/car_logo_PNG1669-200.jpg" alt="Автомастерская в Воронеже на Левом берегу"> </picture>
	</div>
</div>
