<div class="slider" id="Slider">
	<div>
		<div class="intro_container">
			<picture>
				<source srcset="assets/images/sleder-mercedes-375.webp" media="(max-width: 375px)" type="image/webp">
				<source srcset="assets/images/sleder-mercedes-375.jpg" media="(max-width: 375px)">
				<source srcset="assets/images/sleder-mercedes-480.webp" media="(max-width: 480px)">
				<source srcset="assets/images/sleder-mercedes-480.jpg" media="(max-width: 480px)">
				<source srcset="assets/images/sleder-mercedes-767.webp" media="(max-width: 768px)">
				<source srcset="assets/images/sleder-mercedes-767.jpg" media="(max-width: 768px)">
				<source srcset="assets/images/sleder-mercedes-991.webp" media="(max-width: 992px)">
				<source srcset="assets/images/sleder-mercedes-991.jpg" media="(max-width: 992px)">
				<source srcset="assets/images/sleder-mercedes-1200.webp" media="(max-width: 1200px)">
				<source srcset="assets/images/sleder-mercedes-1200.jpg" media="(max-width: 1200px)">
				<source srcset="assets/images/sleder-mercedes-2000.webp"> <img class="intro_img" src="assets/images/sleder-mercedes-2000.jpg" alt="Замена масла в двигателе"> </picture>
			<div class="intro_title_container">
				<p> Пригласи друга </p> <a class="intro_button" href="index.html#11">Подробнее</a> </div>
		</div>
	</div>
	<div>
		<div class="intro_container">
			<picture>
				<source srcset="assets/images/slider-bmw-375.webp" media="(max-width: 375px)" type="image/webp">
				<source srcset="assets/images/slider-bmw-375.jpg" media="(max-width: 375px)">
				<source srcset="assets/images/slider-bmw-480.webp" media="(max-width: 480px)">
				<source srcset="assets/images/slider-bmw-480.jpg" media="(max-width: 480px)">
				<source srcset="assets/images/slider-bmw-767.webp" media="(max-width: 768px)">
				<source srcset="assets/images/slider-bmw-767.jpg" media="(max-width: 768px)">
				<source srcset="assets/images/slider-bmw-991.webp" media="(max-width: 992px)">
				<source srcset="assets/images/slider-bmw-991.jpg" media="(max-width: 992px)">
				<source srcset="assets/images/slider-bmw-1200.webp" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-bmw-1200.jpg" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-bmw-2000.webp"> <img class="intro_img" src="assets/images/slider-bmw-2000.jpg" alt="Замена в АКПП"> </picture>
			<div class="intro_title_container">
				<p> Гарантия лучшей цены </p> <a class="intro_button" href="index.html#12">Подробнее</a> </div>
		</div>
	</div>
	<div>
		<div class="intro_container">
			<picture>
				<source srcset="assets/images/slider-porshe-375.webp" media="(max-width: 375px)" type="image/webp">
				<source srcset="assets/images/slider-porshe-375.jpg" media="(max-width: 375px)">
				<source srcset="assets/images/slider-porshe-480.webp" media="(max-width: 480px)">
				<source srcset="assets/images/slider-porshe-480.jpg" media="(max-width: 480px)">
				<source srcset="assets/images/slider-porshe-767.webp" media="(max-width: 768px)">
				<source srcset="assets/images/slider-porshe-767.jpg" media="(max-width: 768px)">
				<source srcset="assets/images/slider-porshe-991.webp" media="(max-width: 992px)">
				<source srcset="assets/images/slider-porshe-991.jpg" media="(max-width: 992px)">
				<source srcset="assets/images/slider-porshe-1200.webp" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-porshe-1200.jpg" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-porshe-2000.webp"> <img class="intro_img" src="assets/images/slider-porshe-2000.jpg" alt="Ремонт в АКПП"> </picture>
			<div class="intro_title_container">
				<p> Мнение эксперта </p> <a class="intro_button" href="index.html#13">Подробнее</a> </div>
		</div>
	</div>
	<div>
		<div class="intro_container">
			<picture>
				<source srcset="assets/images/slider-rr-375.webp" media="(max-width: 375px)" type="image/webp">
				<source srcset="assets/images/slider-rr-375.jpg" media="(max-width: 375px)">
				<source srcset="assets/images/slider-rr-480.webp" media="(max-width: 480px)">
				<source srcset="assets/images/slider-rr-480.jpg" media="(max-width: 480px)">
				<source srcset="assets/images/slider-rr-767.webp" media="(max-width: 768px)">
				<source srcset="assets/images/slider-rr-767.jpg" media="(max-width: 768px)">
				<source srcset="assets/images/slider-rr-991.webp" media="(max-width: 992px)">
				<source srcset="assets/images/slider-rr-991.jpg" media="(max-width: 992px)">
				<source srcset="assets/images/slider-rr-1200.webp" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-rr-1200.jpg" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-rr-2000.webp"> <img class="intro_img" src="assets/images/slider-rr-2000.jpg" alt="Ремонт двигателя автомобиля"> </picture>
			<div class="intro_title_container">
				<p> Осмотр подержаных авто</p> <a class="intro_button" href="index.html#14">Подробнее</a> </div>
		</div>
	</div>
	<div>
		<div class="intro_container">
			<picture>
				<source srcset="assets/images/slider-seat-375.webp" media="(max-width: 375px)" type="image/webp">
				<source srcset="assets/images/slider-seat-375.jpg" media="(max-width: 375px)">
				<source srcset="assets/images/slider-seat-480.webp" media="(max-width: 480px)">
				<source srcset="assets/images/slider-seat-480.jpg" media="(max-width: 480px)">
				<source srcset="assets/images/slider-seat-767.webp" media="(max-width: 768px)">
				<source srcset="assets/images/slider-seat-767.jpg" media="(max-width: 768px)">
				<source srcset="assets/images/slider-seat-991.webp" media="(max-width: 992px)">
				<source srcset="assets/images/slider-seat-991.jpg" media="(max-width: 992px)">
				<source srcset="assets/images/slider-seat-1200.webp" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-seat-1200.jpg" media="(max-width: 1200px)">
				<source srcset="assets/images/slider-seat-2000.webp"> <img class="intro_img" src="assets/images/slider-seat-2000.jpg" alt="Ремонт электрооборудования автомобиля"> </picture>
			<div class="intro_title_container">
				<p> Клиенты о нас </p> <a class="intro_button" href="index.html#15">Подробнее</a> </div>
		</div>
	</div>
</div>
